.App {
  text-align: center;

}

*{
  margin: auto auto;
}


.card-structure{
  color: white;
  max-width: 100%;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title {
  font-size: 2em;
  background-color: black;
  padding: 1em;
  font-style: italic;
  opacity: 0.9;
}

.card-copyright{
  background-color: black;
  padding: 1em;
  opacity: 0.8;
}

.card-bio{
  font-size: 1.4rem;
  background-color: white;
  color: black;
  opacity: 0.8;
  border-radius: 2em;
  padding: 2em;
  font-family: 'Nunito', sans-serif;
  max-width: 30%;
  text-align: left;
}

.card-date{
  background-color: black;
}


.nav-footer{
  background-color: black;
  color: white;
  padding: 1em;
}

.nav-footer a {
  margin: 0 1em;
  font-size: 2.5em;
  text-decoration: none;
  color: white;
}

.footer-text {
  font-size: 0.5em;
  font-family: 'Nunito', sans-serif;
  opacity: 0.3;
  margin: 0.2em;
}

.nav-footer a:hover{
  text-shadow: white 0em 0 1em;
}

@media (min-width: 100px){
  .card-bio{
    max-width: 100%;
    margin: 3em 2em;
    text-align: center;
  }
}

@media (min-width: 400px){
  .card-bio{
    max-width: 100%;
    margin: 5em 2em;
    text-align: center;
  }
}

@media (min-width: 800px){
  .card-bio{
    max-width: 100%;
    margin: 5em 2em;
    text-align: center;
  }
}


@media (min-width: 1200px){
  .card-bio{
    max-width: 100%;
    margin: 6em 2em;
    text-align: center;
  }
}